*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F9FAFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
}

.modal_edit {
    display: none;
    height: 800px;
    overflow-y: scroll;
}

.open_modal {
    padding: 15px 60px;
}

.modal_edit {
    min-width: 525px;
    max-width: 525px;
    outline: 1px solid rgba(0, 0, 0, 0.148);
    position: absolute;
    left: 50%;
    top: 100px;
    translate: -50%;
}

.close_modal {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background: rgb(226, 237, 255);
    display: grid;
    place-items: center;
    padding: 4px;
}

.close_modal img {
    width: 100%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    padding-bottom: 85px;
    background: #106DFF;
    color: white;
}

.modal-body {
    padding: 0px 17px;
    margin-top: -50px;
}
.modal-header-tittle {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.profile-component {
    padding: 18px 15px;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    margin-bottom: 15px;
    /* width: 492px; */

}

.component-tittle {
    font-size: 18px;
    padding-bottom: 19px;
    font-weight: 400;
}
.component-select-tittle {
	margin-bottom: 12px;
	font-size: 15px;
	font-weight: 400;
}

.component-select {
    width: 216px;
    height: 97px;
    padding-block: 13px;
    background: #106DFF12;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    position: relative;
}

.tooltip {
    position: absolute;
    left: 10px;
    top: 6px;
}

.component-select-img {
    width: 16px;
    height: 16px;
    margin-bottom: 9px;
}

.component-select-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.component-select-tittle {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: normal;
}

.component-select-info {
    font-size: 14px;
    color: #808080;
    font-weight: 400;
}

.components {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.component-adjustment {
    width: 140px;
    height: 110px;
    background: #F2F7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.3s ease-out;
    margin-bottom: 15px;
}

.component-adjustment:hover {
    background: #106DFF;
    color: white;
}

.component-adjustment-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    border: none;
}


.component-adjustment-tittle {
    font-size: 15px;
    font-weight: normal;
}

.component-adjustment.long {
    width: 300px;
    height: 110px;
}

.component-adjustment.long:hover {
    background: #F2F7FA;
    color: #000000;
}

.component-adjustment.long .component-adjustment-icon {
    display: flex;
    align-items: center;
    width: fit-content;
}

.component-adjustment.long .component-adjustment-icon img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.component-adjustment-tittle {
    word-wrap: unset;
    font-size: 15px;
    font-weight: normal;
}

.component-adjustment-quantity {
    width: 240px;
    border-radius: 60px;
    background: white;
    height: 30px;
    /* overflow: hidden; */
}

.quantity-bar {
    height: 100%;
    position: relative;
}

.quantity-bar-content {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 20%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border-radius: 60px;
}

.quantity-bar-content::placeholder {
    color: #106DFF;
    font-weight: 500;
    opacity: 1;
}

.quantity-bar-btn {
    position: absolute;
    left: -10px;
    top: -2px;
    width: 32px;
    height: 32px;
    background: #106DFF;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;
}
.quantity-bar-btn img {
    width: 12px;
    height: auto;
    margin-top: 2px;
}

.quantity-bar-btn.plus {
    right: -10px;
    left: auto;
}
.quantity-bar-btn.plus img{
    margin-top: 0;
}

.modal_edit {
    position: relative;
}

.modal-footer {
    position: sticky;
    height: auto;
    background: #106DFF;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-inline: 17px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 20px;
}

.modal-footer-btns {
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
}

.modal-footer-btn {
	background: white;
	border-radius: 30px;
	padding: 6px 10px;
	font-size: 14px;
	color: #000000;
	display: flex;
	align-items: center;
	font-weight: 400;
    height: 27px;
}

.modal-footer-btn .icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    margin-right: 7px;
}
.modal-footer-btn .icon img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.modal-footer-powered .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.modal-footer-powered {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-left: auto;
}

.modal-footer {
    display: flex;
    justify-content: space-between;

}


.blind {
    width: 16px;
    height: 20px;
}

.component-adjustment-quantity #one {
    text-indent: red;
}


.component-select-img.dy {
	width: 19px;
	height: auto;
	margin-bottom: 9px;
}
.component-adjustment-icon.tiles {
	width: 21px;
	height: auto;
	margin-bottom: 20px;
	border: none;
}
.component-adjustment-icon.readable {
	width: 21px;
	height: auto;
	margin-bottom: 20px;
	border: none;
    filter: invert(100%);
}
.component-adjustment-icon.readable {
	width: 23px;
	height: auto;
	margin-bottom: 20px;
	border: none;
    filter: invert(100%);
}
.component-adjustment-icon.magnifier {
	width: 22px;
	height: 22px;
}
.component-adjustment-icon.highlight {
	width: 30px;
	height: auto;
}
.component-adjustment:hover .component-adjustment-icon img {
    filter: invert(100%);
}
.component-adjustment:hover .component-adjustment-icon.readable {
    filter: invert(0%);
}
.component-adjustment-icon.scale img {
    width: 21px !important;
    height: 21px !important;
}
.component-adjustment-icon.scale img {
    width: 21px !important;
    height: 21px !important;
}
.component-adjustment-icon {
    height: auto;
}
.component-adjustment-icon.center img {
    width: 21px !important;
    height: 21px !important;
}
.component-adjustment-icon.drop {
    width: 16px !important;
}
.component-adjustment-icon.invert {
    width: 18px !important;
}
.component-adjustment-icon.mode {
    width: 21px;
}
.component-adjustment-icon.pointer {
    width: 18px;
}
.component-adjustment-icon.guide {
    width: 24px;
}
.component-adjustment-icon.read-text  {
    width: 27px;
    height: auto;
}
.component-adjustment-icon.waves  {
    width: 25px;
}
.component-adjustment.long:hover img {
    filter: invert(0%) !important;
}
.component-adjustment-icon.drop:hover{
    filter: invert(100%) ;
}
.form-radio form {
    display: flex;
    text-align: center;
    justify-content: center;
}
.component-adjustment-icon.scale .spacing {
    width: 25px;
    height: auto;
    object-fit: contain;
}


.open_modal {
    margin: auto;
}

/* =========================  */
/* =========================  */
/* =========================  */

@media (max-width:530px) {
    .modal_edit {
        min-width: 92%;
        max-width: 100%;
    }

    .component-select {
        width: 75%;
    }

    .components {
        justify-content: center;
        grid-column-gap: 15px;
    }
    
}
@media (max-width:460px) {
    .component-select {
        width: 95%;
    }
    .component-adjustment {
        width: 95%;
    }

    .component-adjustment.long {
        width: 95%;
        padding-inline: 10px;
    }
    .modal-footer-powered-by {
        margin-top: 20px;
        margin-left: auto;
    }
}
@media (max-width:360px) {
    .component-select {
        width: 95%;
    }

    .close_modal {
        height: 22px;
        width: 22px;
        padding: 4px;
    }

    .modal-header-tittle {
        font-size: 14px;
    }

    .modal-header {
        padding: 14px;
        padding-bottom: 90px;
    }

    .component-tittle {
        font-size: 17px;
        padding-bottom: 14px;
    }

    .component-adjustment {
        width: 95%;
    }

    .component-adjustment.long {
        width: 95%;
        padding-inline: 10px;
    }

    .component-adjustment-quantity {
        width: 200px;
    }

    .component-adjustment.long .component-adjustment-icon img {
        margin-right: 8px;
        width: 25px;
        height: 25px;
    }

    .component-adjustment-icon-tittle {
        font-size: 14px;
    }

    .modal-body {
        padding: 0px 12px;
    }

    .modal-footer-btns {
        flex-wrap: wrap;
    }
    .modal-footer-btn {
        margin-bottom: 10px;
    }
    .form-radio form {
        flex-wrap: wrap;
    }
}

.form-radio {
    padding-top: 22px;
}

.form-radio .component-adjustment-icon {
    width: 100% !important;
    justify-content: center;
    padding-top: 20px;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-clip: content-box;
    background-color: white;
    border-radius: 50%;

}
input[type="radio"]:nth-child(2) {
    background-color: red;
}
input[type="radio"]:nth-child(3) {
    background-color: green;
}
input[type="radio"]:nth-child(4) {
    background-color: greenyellow;
}
input[type="radio"]:nth-child(5) {
    background-color: goldenrod;
}
input[type="radio"]:nth-child(6) {
    background-color: palevioletred;
}
input[type="radio"]:nth-child(7) {
    background-color: rgb(49, 134, 133);
}
input[type="radio"]:nth-child(8) {
    background-color: rgb(101, 98, 41);
}

input[type='radio']:checked:after {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}
input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid transparent;
}